*{
    padding: 0;
    margin: 0;
}

header{
    background-color: gray;

}

.homepage-head img{
max-width: 1452px;
max-height: 640px;
padding: 100px 150px 0 150px;
width: 100%;
}
/* .navbar .quotes{
    background-color: rgb(255, 115, 0);
    padding: 1rem 0;
} */
.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
}
 
.navbar-brand img{
    max-height: 45px;
    max-width: 79px;
}

.navbar .navbar-nav .nav-item a{
    padding: 0 50px;
    font-weight: bold;
    color: black;
}

  #navbar a:hover {
    color: #DB2E00;
  }
.quotes{
    background-color: #DB2E00;
    padding-left: 10px;
    
}
.quotes a
{
    color: #fff;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding:0px 0px; 
}
@media  (min-width: 769px) and (max-width: 1900px){
    .navbar .navbar-nav .nav-item a{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 768px){
    .homepage-head img{
        padding: 0 0;
    }
}

.about-left{
    background-color: #DB2E00;
    
   border: 1px solid black;
   color: #fff;
}
.a1{
    background-color: #DB2E00;
}
.b2{
    background-color: #ca2e03; 
}
.c3{
    background-color: #af2600;
}
.d4{
    background-color: #a02401;
}
.e5{
    background-color: #882004;
}
.f6{
    background-color: #811e03; 
}
.g7{
    background-color: #751c03; 
}
.h8{
    background-color: #6b1a03;
}
.i9{
    background-color: #531402;
}
.about-left a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.about-left a:hover {
    color: blue;
    text-decoration: none;
}
@media (min-width: 992px){
.about-heading .col-lg-3 .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 100%;
    text-align: center;
    padding: 5px 0;
}
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.about-mid{
    background-color: rgb(17, 16, 16);
    color: #fff;
}
.about-mid h4{
    width: 50%;
    
}
.about-mid .text{
   padding: 100px 0px 50px 70px;
}
.about-mid .text button{
    border: 1px solid orangered;
    background-color: black;
    color: #fff;
    max-width: 186px;
    max-height: 55px;
    padding: 3px 16px;
}
@media (max-width: 768px){
    .about-heading .col-lg-3 .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}

.about{
    padding: 50px 70px 10px 50px;
}
.about .about-heading{
    color: orangered;
}
.about .about-img img{
    max-height: 501px;
    max-width: auto;
}

/* .fixed-wrap{
    max-width: 1920px;
    max-height: 378px;
    background: url('../img/bg-2.png');
    position: fixed;
} */
/* .fixed{
    max-width: 1920px;
    max-height: 378px;
    background: url('../img/bg-2.png');
    position: fixed;
} */


.plans{
    max-width: 1920px;
    max-height: auto;
    background: url('../img/bg-2.png');
}
.wow{
    visibility: hidden;
 }
 .plans
  .fixed-background .row .col-md-4{
    padding: 4rem 0;
    text-align: center;
  }
  .plans p span{
      color: #DB2E00;
      font-size: 1.5rem;
  }
  .fixed-background  .row .col-md-4{
    
    color: black;
    
    
  }
  
  .fixed-background  .row .col-md-4 img{
    max-width: 91px;
    max-height: 91px;
    
  }
  .fixed-background  .row .col-md-4 .plans-img{
    animation-name: stretch;
    animation-duration: 3s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 3;
    animation-fill-mode: none;
    animation-play-state: running;
    
  }
  @keyframes stretch {
    0% {
      transform: scale(.3);
    
      border-radius: 100%;
    }
    50% {
      
    }
    100% {
      transform: scale(1.1);
     
    }
  }
  .fixed-background  .row .col-md-4 h4{
    margin: .5rem 0;
  }
  .fixed-background  .row .col-md-4 p{
padding: 1px 20px;
  } 

.main-content{
    padding: 50px 70px 10px 50px;
} 

.industry{

    max-width: 1920px;
    max-height: auto;
    background: url('../img/BG1.png');
    
}

  
.industry .row .col-md-4 img{
    max-width: 94px;
    max-height: 101px;
    text-align: center;
    
}
.industry .fixed-background .row .col-md-4 {
    color: black;
    padding: 4rem 0;
    text-align: center;
}
  
.portfolio{
    max-width: 1920px;
    max-height: 1500px;
    background-color: rgb(187, 187, 187);
    margin-bottom: -5px;
}
.portfolio h1{
    padding-top: 50px;
}
.portfolio .col-lg-3 {
    padding: 50px 50px;
    padding-bottom: 100px;
}
.portfolio .img{
    /* padding: 20px 0px 50px 20px; */
}
.portfolio  img{
    max-width: 100px;
    max-height: 91px;
   

}
.portfolio i{
    color: black;
}
@media (max-width: 414px){
.portfolio .col-sm-12{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    overflow: hidden;
}

}
.project{
    max-width: 1920px;
    max-height: 376 px;
    background: url('../img/Call-Out@2x.png');
    text-align: center;
}
.project .content{
 padding: 70px 0px;
 color: #fff;
}
.project .content button{
    border: 2px solid black;
    background-color: transparent!important;
    padding: 5px 10px;
    color: #fff;
    margin: 5px 0;
    animation: 3s linear 1s 5 running btn;
}
@keyframes btn {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }
.project .content button a{
    text-decoration: none;
    color: #fff;
}


.footer-left{
    background-color: rgb(17, 16, 16);
    
}
.footer1 .menus{
    padding: 20px 20px;
}
.footer1 .footer-left ul{
    text-decoration: none;
    text-align: center;
    
    list-style-type: none;
    color: #fff;
    padding: 50px 0;
}
.footer1 .footer-left ul img{
    padding: 1rem 0;
}
.footer1 .footer-left ul li{
    padding: .5rem 0;
}
.footer1 .footer-left ul li a{
    color: #fff;
    text-decoration: none;
    
}
.footer1 .footer-left ul li a i{
    color: #DB2E00;
}
.footer-mid{
    background-color: rgb(17, 16, 16);
}
.footer-mid .menus{
    padding-top: 130px;
}
.footer-mid ul a{
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.footer-mid ul{
    text-decoration: none;
    text-align: center;
    
    list-style-type: none;
    color: #fff;
}
.footer-mid a i{
    text-decoration: none;
    text-align: center;
    color: #DB2E00;
    padding: 0 5px;
   
}
.footer-mid .menus {
    text-align: center;
}
.menus ul hr{
color: #fff;
background-color: #fff;
text-align: center;
animation: 3s linear 1s 5 running slideout;
}
@keyframes slideout {
    from { transform: scaleX(0); }
    to   { transform: scaleX(.7); }
  }
.footer-right{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.8);
    background: url('../img/logo.png') no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
    opacity: .9;
        

}
footer .para{
    padding: 100px 50px;
    color: #fff;
    z-index: 2;
}
footer .para hr{
    background-color: #fff;
    animation: 3s linear 1s 5 running slidein;
}
@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }
@media (max-width: 414px){
    .footer-left .menus{
        padding: 10px 0;
    }
    .footer1 .footer-left ul{
        padding: 15px;
    }
    .footer-mid .menus{
        padding-top: 20px;
        text-align: center;
    }
}

.down-footer{
    background-color: rgb(17, 16, 16);
    text-align: center;
    color: #fff;
    width: 100%;
    overflow: hidden;
}
.down-footer .col-md-6{
    padding-top: .5rem;  
}
.down-footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0rem .3rem;
    align-items: center;
    flex-wrap: wrap;
    
}

.down-footer ul li a{
    text-decoration: none;
    color: #fff;
    
}
.down-footer ul li a span{
    padding: 0px 5px;
    color: #DB2E00;
}
.aboutus{
    background-color: rgb(207, 206, 206);
    
}
.aboutus .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.aboutus .container h1{
    padding: 0 3rem;
    font-weight: bold;
}
.aboutus .container h1 span{
    color: #DB2E00;
}
.aboutus .container img{
    max-width: 400px;
    max-height: 400px;
    padding: 0 3rem;
}
@media (max-width: 414px){
    .aboutus .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .aboutus .container h1{
        padding: 0 0rem;
        
    }
    
    .aboutus .container img{
        max-width: 400px;
        max-height: 400px;
        padding: 0 0rem;
    }
}
.main-content h1{
    font-weight: bolder;
}
.main-content p{
    color: black;
}
.director{
    background-color: gainsboro;
}
.founder{
    text-align: center;
   padding: 2rem 2rem;
}
.founder i{
    color: grey;
}
.founder i:hover{
    color: #DB2E00;
}
.founder h1{
    font-weight: bolder;
}
.founder .shubham{
    color: #DB2E00;
    font-weight: bold;
}
.founder .shubham:hover{
    font-size: 1.5rem;
}
.founder .mg{
    font-weight: bold;
}
.contactus{
    padding: 2rem 2rem;
}
.contactus form input{
    width: 90%;
    background-color: gainsboro;
    padding-left: 1rem;
    border: none;
    padding: 1rem;
}

.contactus form textarea{
    width: 90%;
    background-color: gainsboro;
    padding-left: 1rem;
    border: none;
    padding: 1rem;
}

.contactus form p{
    padding-top: .5rem;
}
.contactus button{
    background-color: #DB2E00;
    color: #fff;
    border: none;
    padding: .5rem .5rem;
    cursor: pointer;
}
.contactus .location h3{
    font-weight: bold;
}
